.nopadding
{
    margin: 0px !important;
    padding: 0px !important;
}
#tube
{
    color: red;
}
#logo
{
    color: black;
}
#imag
{
    position: absolute;
    border-radius:50%;
    width: 250px;
    height:250px;
    display: block;
    z-index: 2;
    top: 75px;
    right: 0;
    left: 0;
    margin-left:auto;
    margin-right: auto;
    object-fit: cover;

}
#wrap
{
position:relative;
height: 400px;

}
